<template>
    <div>
        <h5><strong>Formulário de Acompanhamento</strong></h5>
        <box-body-anamnese>
            <form-submit v-model="form"
                         @submit="cadastrarAcompanhamento()"
            >
                <form-group :form="form"
                            field="id_gestacao"
                >
                    <input-text v-model="form.id_gestacao"
                                name="id_gestacao"
                                placeholder="Idade Gestacao"
                    >
                    </input-text>
                </form-group>
                <form-group :form="form"
                            field="peso"
                >
                    <input-text v-model="form.peso"
                                name="peso"
                                id="peso"
                                placeholder="Peso"
                    >
                    </input-text>
                </form-group>
                <form-group :form="form"
                            field="pa"
                >
                <input-text v-model="form.pa"
                            name="pa"
                            id="pa"
                            placeholder="PA"
                >
                </input-text>
                </form-group>
                <form-group :form="form"
                            field="au"
                >
                <input-text v-model="form.au"
                            name="au"
                            placeholder="AU"
                >
                </input-text>
                </form-group>
                <form-group :form="form"
                            field="mf"
                >
                <input-text v-model="form.mf"
                            name="mf"
                            placeholder="MF"
                >
                </input-text>
                </form-group>
                <form-group :form="form"
                            field="bcf"
                >
                <input-text v-model="form.bcf"
                            name="bcf"
                            placeholder="BCF"
                >
                </input-text>
                </form-group>
                <form-group :form="form"
                            field="edema"
                >
                <input-text v-model="form.edema"
                            name="edema"
                            placeholder="Edema"
                >
                </input-text>
                </form-group>
                    <div>
                        <button class="btn btn-success">
                        Cadastrar
                        </button>
                    </div>
            </form-submit>
        </box-body-anamnese>
    </div>
</template>
<script>
    import FormSubmit from "../../../../../../shared/Forms/FormSubmit";
    import FormGroup from "../../../../../../shared/Forms/FormGroup";
    import InputDate from "../../../../../../shared/Input/InputDate";
    import ModalForm  from "../../../../../../shared/Mixins/ModalForm";
    import BoxBodyAnamnese from "../../../shared/BoxBodyAnamnese";
    import PesoChar from "../chars/peso-char";

    export default {
        mixins: [ModalForm],
        components: {
            InputDate,
            FormGroup,
            FormSubmit,
            BoxBodyAnamnese,
            PesoChar
        },
        name: 'formAcompanhamento',
        props: {
            historicoId:{
                required:true
            }
        },
        computed: {
            nome: function () {
                return window.Slc.user.name;
            },
            data: function () {
            }
        },
        data() {
            return {
                formAcompanhamento:{},
                api:'acompanhamento'
            }
        },
        created(){

        },
        mounted() {
            this.buildForm(this.acompanhamento);
        },
        methods: {
            buildForm(acompanhamento){
                return new SlcForm({
                    id              :acompanhamento ? acompanhamento.id              :null,
                    data            :acompanhamento ? acompanhamento.data            :null,
                    id_gestacao     :acompanhamento ? acompanhamento.id_gestacao     :null,
                    peso            :acompanhamento ? acompanhamento.peso            :null,
                    pa              :acompanhamento ? acompanhamento.pa              :null,
                    au              :acompanhamento ? acompanhamento.au              :null,
                    mf              :acompanhamento ? acompanhamento.mf              :null,
                    bcf             :acompanhamento ? acompanhamento.bcf             :null,
                    edema           :acompanhamento ? acompanhamento.edema           :null,
                    historico_id    :acompanhamento ? acompanhamento.historico_id    :this.historicoId,
                })
            },
            cadastrarAcompanhamento(){
                this.form.data = moment(this.form.data, 'YYYY-MM-DD HH:ss');
                let uri = laroute.route('api.acompanhamento.store',{request : this.form});
                Slc.post(uri, this.form).then((response) => {
                    this.form = this.buildForm({});
                })
            }
        }
    }
</script>
<style scoped>

</style>