/* ======== Colors */
$white:					#ffffff;
$black:					#000000;

/* ======== Social Colors */
$facebook-color:		rgb(59, 89, 152);
$twitter-color:			rgb(85, 172, 238);
$google-plus-color:		rgb(221, 75, 57);
$youtube-plus-color:	rgb(187, 0, 0);
$linkedin-color:		rgb(0, 123, 181);
$instagram-color:		rgb(233, 89, 80);
$whatsapp-color:		rgb(77, 194, 71);
$snapchat-color:		rgb(255, 252, 0);

/* ======== Font */
$font:					'Lato', sans-serif;
$thin:					100;
$light:					300;
$regular:				400;
$bold:					700;
$black:					900;

/* ======== Responsive */
$mobile: 				max-width 768px;
$tablet: 				769px 991px;
$desktop: 				992px 1199px;
$large: 				1200px;