.footer{
  border-top: 30px solid #ededed;
  background-color: #ededed;
  border-bottom: 40px solid #d27a3a;
  .lodo_rede_sociais{
            padding: 20px;
  }
  .lodo_rede_sociais img{
            margin: 3px;
  }
  .contato{
    color: #f58426;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    text-decoration:none;
    padding:20px;
  }
  .contato i{
    color: #282828;
  }
  .contato a{
    text-decoration:none;
    color: #f58426;
  }
}
.final{
  background-color:#d27a3a;
  .fim{
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    padding: 20px;
  }
}
.footer p{
  color: #002158;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  margin-top: 30px;
  line-height: 10px;
}
@media (max-width: 768px){
  .footer{
    text-align: center;
  }

  element.style {
  }
  .footer p {
    font-size: 16px;
  }
}