body{
  font-family: "Sinkin Sans 700 Bold";
  table{
    font-family: "Sinkin Sans 700 Bold";
    border-collapse: collapse;
    td{
      column-span: 4;
      row-span: 4;
      border: 1px solid black;
      font-family: "Sinkin Sans 700 Bold";
    }
  }

}
