<template>
    <div class="row">
        <div class="col-lg-8">
          <canvas ref="canvas"
                  width="800"
                  height="450"
          >
          </canvas>
        </div>
    </div>
</template>
<script>
    // CommitChart.js
    import { Bar } from 'vue-chartjs';
    import AcompanhamentoForm from "../acompanhamento-Form/acompanhamento-form";

    export default {
        extends: Bar,
        name: 'peso-chart',
        components: {},
        props: {
            data :'',
            label:''
        },
        computed: {},
        data() {
            return {
                datasets:[],
                labels:[]
            }
        },
        created() {},
        mounted () {
            this.renderChart({
                labels: ['10-10-2018'],
                datasets: [
                    {
                        label: 'Gestação',
                        backgroundColor: '#0066ff',
                        data: [9]
                    },
                    {
                        label: 'Peso',
                        backgroundColor: '#ff0000',
                        data: [90]
                    },
                    {
                        label: 'PA',
                        backgroundColor: '#33cc33',
                        data: [10]
                    }
                ]
            })
        },
        methods: {
        }
    }
</script>
<style scoped>

</style>