<template>
    <div>
        <single-select
                v-model="internalValue"
                :value="value"
                label="nome"
                api="tipos-consultas"
                placeholder="Selecione um Tipo de Consulta">
        </single-select>
    </div>
</template>

<script>
    import SingleSelect from '../shared/Input/SingleSelect';
    export default {
        mixins: [require('../shared/Mixins/Model')],
        components: {
            SingleSelect
        },
    }
</script>