<template>
    <div>
        <div class="box box-default">
            <div class="box-header with-border">
                <div class="box-title">
                    <strong class="">
                        <small>Adiciona característica aos exames</small>
                    </strong>
                </div>
            </div>
            <div class="box-body">
                <div>
                    <table class="table table-striped" @chande="false">
                        <thead>
                            <tr>
                                <label v-show="show" v-if="exame"> {{ 'EXAME: ' + exame.nome }} </label>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="caracteristicas in arrayCaracteristica">
                                {{ caracteristicas.nome }}

                                <span class="btn btn-defaul pull-right"
                                      @click="deleteCaracteristica(caracteristicas)"
                                >
                                    <i class="fa fa-trash"></i>
                                </span>
                                <span class="btn btn-defaul pull-right"
                                      @click="editCaracteristica(caracteristicas)"
                                >
                                    <i class="fa fa-pencil"></i>
                                </span>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <form-submit v-model="form"
                             @submit="novaCaracteristica"
                >
                    <form-group :form="form"
                                field="exame_id"
                    >
                        <input-text v-model="form.exame_id"
                                    name="exame_id"
                                    type="hidden"
                        >
                        </input-text>
                    </form-group>

                    <form-group :form="form"
                                field="nome"
                    >
                        <div class="col-lg-11">
                            <input-text v-model="form.nome"
                                        name="nome"
                                        placeholder="Digite aqui a característica"
                            >
                            </input-text>
                        </div>
                    </form-group>
                    <div class="input-group-btn col-lg-1">
                        <button class="btn btn-success">
                            <i class="fa fa-plus"></i>
                        </button>
                    </div>
                </form-submit>
            </div>
        </div>
    </div>
</template>
<script>
    import FormSubmit from "../../shared/Forms/FormSubmit";
    import FormGroup from "../../shared/Forms/FormGroup";
    import ModalForm  from "../../shared/Mixins/ModalForm";
    import * as Slc from "../../../vue/http";

    export default {
        mixins: [ModalForm],
        components: {
            FormGroup,
            FormSubmit,
        },
        name: 'caracteristica-exames',
        props: {
            exame:{
                required:false
            }
        },
        computed: {
            nome: function () {
                return window.Slc.user.name;
            }
        },
        data() {
            return {
                exameCaracteristica:{},
                api:'exame-caracteristica',
                arrayCaracteristica:[],
            }
        },
        create(){},
        mounted(){
            this.getCaracteristica();
            this.buildForm(this.exameCaracteristica);
        },
        methods: {
            getCaracteristica(id){
                let uri = laroute.route('api.exame-caracteristica.index', {id:id});
                Slc.get(uri).then((response) => {
                    this.arrayCaracteristica = response;
                })
            },
            buildForm(exameCaracteristica){
                return new SlcForm({
                    id       :exameCaracteristica ? exameCaracteristica.id       :null,
                    nome     :exameCaracteristica ? exameCaracteristica.nome     :null,
                    exame_id :exameCaracteristica ? exameCaracteristica.exame_id :null,
                })
            },
            novaCaracteristica(){
                if(this.form.id){
                    let uri = laroute.route('api.exame-caracteristica.update', {id:this.form.id});
                    Slc.put(uri, this.form).then((response) => {
                        this.form = this.buildForm({});
                        this.getCaracteristica(this.exame.id);
                    })
                } else {
                    this.form.exame_id = this.exame.id;
                    let uri = laroute.route('api.exame-caracteristica.store', {request:this.form});
                    Slc.post(uri, this.form).then((response) => {
                        this.form = this.buildForm({});
                        this.arrayCaracteristica.push(response.data);
                    })
                }
            },
            editCaracteristica(caracteristicas){
                this.form = this.buildForm(caracteristicas);
            },
            deleteCaracteristica(caracteristicas){
                let uri = laroute.route('api.exame-caracteristica.delete', {id:caracteristicas.id});
                Slc.get(uri).then((response) => {
                    console.log('delete',response);
                    this.getCaracteristica(this.exame.id);
                });
            },
        }
    }
</script>
<style scoped>
    .input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group {
        z-index: 2;
        margin-left: -8px;
    }
</style>