<template>
    <div>
    </div>
</template>
<script>
    export default {
        components: {},
        props: {},
        computed: {},
        data() {
            return {}
        },
        created() {

        },
        methods: {}
    }
</script>
<style scoped>

</style>