<template>
    <div>
        <div class="box box-default">
            <div class="box-header with-border">
                <div class="box-title">
                    <strong class="">
                        <small>Combo</small>
                    </strong>
                </div>
                <div class="box-tools pull-right">
                    <button type="button"
                            class="btn btn-box-tool bg-success"
                            @click="novoCombo"
                    >
                        <i class="fa fa-plus-circle"></i>
                    </button>
                    <button type="button"
                            class="btn btn-box-tool"
                            data-widget="collapse"
                    >
                      <i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-lg-12">
                      <combos-exames-select v-model="combo"
                                            :reset-after="true"
                                            name="combo-exames"
                                            ref="combosselect"
                      >
                      </combos-exames-select>
                    </div>
                </div>
                <hr>
                <div v-if="newCombo" class="row">
                    <div class="col-lg-12">
                        <form-submit v-model="comboStore" @submit="salvarCombo">
                            <form-group :form="comboStore"
                                        field="nome"
                            >
                                <input-label for="nome">Combo:</input-label>
                                <div class="input-group">
                                    <input-text
                                            v-model="comboStore.nome"
                                            id="nome"
                                            name="nome"
                                            class="form-control"
                                            placeholder="Digite um Nome"
                                    ></input-text>
                                    <div class="input-group-btn">
                                        <button type="button"
                                                @click="salvarCombo"
                                                class="btn btn-success"
                                        >
                                            <i class="fa fa-plus"></i>
                                        </button>
                                    </div>
                                    <div class="input-group-btn">
                                        <button type="button"
                                                class="btn btn-danger"
                                                @click="novoCombo"
                                        >
                                            <i class="fa fa-minus"></i>
                                        </button>
                                    </div>
                                </div>
                            </form-group>
                        </form-submit>
                    </div>
                </div>
                <div v-if="showExamesTable" class="row">
                    <div class="col-lg-12">
                      <div class="box bg-success">
                         <div class="box-header">
                             <h5 class="box-title">
                               Lista de Exames: {{ combo.nome}}
                             </h5>
                         </div>
                         <div class="box-body">
                           <table class="table table-striped">
                                 <thead>
                                 <tr>
                                     <th width="20%">Código</th>
                                     <th width="50%">Nome</th>
                                     <th width="20%">Folha</th>
                                     <th width="10%"></th>
                                 </tr>
                                 </thead>
                                 <tbody>
                                 <tr v-for="exame in examesArray">
                                     <td>{{exame.cod}}</td>
                                     <td>{{exame.nome}}</td>
                                     <td>
                                      <select :id="'folha' + exame.pivot.id" @change="changeSeed(exame.pivot.id)" class="form-control">
                                       <option v-for="folha in folhas" :value="folha" :selected=" exame.pivot.folha === folha">
                                         {{folha}}
                                       </option>
                                      </select>
                                     </td>
                                     <td>
                                       <a class="btn btn-default"
                                       @click="deleteExame(exame.id)"
                                       >
                                         <i class="fa fa-trash"></i>
                                       </a>
                                     </td>
                                 </tr>
                                 </tbody>
                             </table>
                         </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import CombosExamesSelect from '../../combos/combos-exames-select';
    export default {
        components: {CombosExamesSelect},
        props: {
        },
        data() {
            return {
                combo       : null,
                comboStore  : {},
                examesArray : [],
                api         : 'combos-exames',
                newCombo    : false,
                folhas      : [1,2,3,4,5,6,7,8,9,10]
            }
        },
        computed: {
            showExamesTable: function () {
              if(this.combo === null) {
                return false;
              } else {
                this.$emit('setExames',{combo: this.combo});
                this.examesArray = this.combo.exames;
                return true;
              }
            }
        },
        created() {
          this.comboStore = this.buildForm (this.comboStore);
        },
        mounted() {

        },
        methods: {
          buildForm (_data) {
           return new SlcForm ({
             id     : _data ? _data.id    : null,
             nome   : _data ? _data.nome  : null,
           });
          },
          novoCombo () {
            this.newCombo = !this.newCombo;
          },
          salvarCombo () {
            let uri = laroute.route('api.combos-exames.store',{form: this.comboStore});
            Slc.post(uri,this.comboStore).then((response) => {
             console.log('Resposta Combo ', response);
              this.comboStore = this.buildForm({});
              /*TODO
              * ao criar um combo o array de opções seta o novo combo criado;
              * */
              console.log('Combos Select ', this.$refs.combosselect.$forceUpdate());
            });
          },
          pushNewExame(exame) {
            let exameId =  exame.id;
            let index   =  this.examesArray.findIndex( (_index) => {
                            if(_index.id === exameId) {
                                return _index;
                            }
                           });
            // verificar se o item se encontra no array;
            if (index > -1) {
              //this.examesArray.splice(index, 1);
            } else {
              let uri = laroute.route('api.combos-exames.store.exame',{comboId: this.combo.id, exameId: exameId});
              Slc.get(uri)
               .then((response) => {
                console.log(response.data);
                this.examesArray = response.data[0].exames;
               });
            }
          },
          changeSeed (id) {
            let folha = $('#folha'+id).val();
            let uri   = laroute.route( 'api.combos-exames.change.seed' , { pivotId:id , seed:folha } );
            Slc.get(uri).then((response) => {
              //console.log('changeSeed', response);
            });
          },
          deleteExame (id) {
              let uri   = laroute.route( 'api.combos-exames.delete' , {comboId: this.combo.id, exameId: id} );
              Slc.get(uri).then((response) => {
                  this.pullExame(id);
              });
          },
          pullExame(id) {
              let exameId =  id;
              let index   =  this.examesArray.findIndex( (_index) => {
                  if(_index.id === exameId) {
                      return _index;
                  }
              });
              // verificar se o item se encontra no array;
              if (index > -1) {
                this.examesArray.splice(index, 1);
              }
          },
        },
    }
</script>
<style scoped>

</style>