<template>
    <div>
        <data-viewer
            ref="dataViewer"
            v-bind="$data"
            :btn-share="false"
            @shar="share"
            :btn-edit="true"
            @edit="edit"
            :btn-destroy="true"
            @destroy="destroy"
        >
        </data-viewer>
    </div>
</template>
<script>
    import DataViewer from '../../shared/DataViewer';
    import * as Slc from "../../../vue/http";
    export default {
        name: 'list-pacientes',
        components: {
            DataViewer
        },
        props: {},
        computed: {},
        data:()=> ({
            title: 'Pacientes',
            source: laroute.route('api.pacientes.search'),
            defaultColumn: 'nome',
            billboardId:null
        }),
        methods: {
            share(billboard){
                console.log(billboard);
                const win = window.open(billboard.public_url, '_blank');
                win.focus();
            },
            destroy(billboard){
                console.log("destroy", billboard);
                billboard.destroyForm = new SlcForm;
                Slc.delete(laroute.route('api.billboard-face.destroy', {billboard_face:billboard.id}),billboard.destroyForm
                )
                    .then(()=>{
                        this.$refs.dataViewer.fetchIndexData();
                    });
            },
            edit(billboard){
                console.log("edit", billboard);
                this.billboardId = billboard.billboard_id;
                this.$nextTick(()=>{
                    this.$refs.billboardFaceForm.show(billboard);
                });
            },
            reload(form){
                this.$refs.dataViewer.fetchIndexData();
            },
        }
    }
</script>
<style scoped>

</style>