<template>
    <div>
        <single-select
                v-model="internalValue"
                :value="value"
                label="nome"
                api="status"
                placeholder="Selecione um Status">
        </single-select>
    </div>
</template>

<script>
    import SingleSelect from '../shared/Input/SingleSelect';
    export default {
        mixins: [require('../shared/Mixins/Model')],
        name: 'status-select',
        components: {
            SingleSelect
        },
    }
</script>