<template>
    <div>
        <div class="col-lg-7">
            <div class="box box-default">
                <div class="box-header with-border">
                    <div class="box-title">
                        <strong class="">
                            <i class="fa fa-medkit"></i>
                            <small>Lista de Medicamentos</small>
                        </strong>
                    </div>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-lg-12">
                         <list-medicamentos></list-medicamentos>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-5">
          <import-medicamentos-csv></import-medicamentos-csv>
        </div>
    </div>
</template>
<script>
    import ListMedicamentos from './list-medicamentos/list-medicamentos';
    import ImportMedicamentosCsv from './form-import/import-medicamentos-csv';
    export default {
        components: {
          ImportMedicamentosCsv,
          ListMedicamentos
        },
        props: {

        },
        computed: {},
        data() {
            return {

            }
        },
        created() {
        },
        mounted () {

        },
        watch: {

        },
        methods: {

        }
    }
</script>
<style scoped>

</style>