<template>
    <div>
      <div class="box box-default">
         <div style="">
           <div class="nav-tabs-custom" style="cursor: move;">
               <!-- Tabs within a box -->
               <ul class="nav nav-tabs pull-right ui-sortable-handle">
                   <li class="">
                       <a href="#exames"
                          data-toggle="tab"
                          aria-expanded="false"
                       >
                           Exames
                       </a>
                   </li>
                   <li class="">
                       <a href="#guia"
                          data-toggle="tab"
                          aria-expanded="false"
                       >
                           Guia
                       </a>
                   </li>
                   <li class="">
                       <a href="#acompanhamento"
                          data-toggle="tab"
                          aria-expanded="false"
                       >
                           Acompanhamentos
                       </a>
                   </li>
                   <li class="active">
                       <a href="#historico"
                          data-toggle="tab"
                          aria-expanded="false"
                       >
                           Histórico
                       </a>
                   </li>
                   <li class="pull-left header">
                       <i class="fa fa-pie-chart"></i>
                       Anamnese
                   </li>
               </ul>
              <div class="tab-content no-padding">
                  <!-- Morris chart - Sales -->
                  <div class="chart tab-pane" id="acompanhamento">
                    <acompanhamento v-show="idHistorico != 0"
                                    :historicoId="idHistorico"
                    >
                    </acompanhamento>
                  </div>
                  <div class="chart tab-pane" id="exames">
                    <exames v-show="idHistorico != 0"
                            :historicoId="idHistorico"
                    >
                    </exames>
                  </div>
                  <div class="chart tab-pane active" id="historico">
                    <historico v-show="idHistorico != 0"
                               :historicoId="idHistorico"
                    >
                    </historico>
                  </div>
                  <div class="chart tab-pane" id="guia">
                      <guia></guia>
                  </div>
              </div>
           </div>
         </div>
      </div>
    </div>
</template>
<script>
    import Historico from "./historico/historico";
    import Exames    from "./exame/exames";
    import Acompanhamento from "./acompanhamento/acompanhamento";
    import Guia from "./guia/guia";
    export default {
        components: {
            Guia,
            Acompanhamento,
            Historico,
            Exames
        },
        props: {
            paciente:{required:true},
            idHistorico:{required:true},
            },
        computed: {},
        data() {
            return {
                historicoId: 0,
            }
        },
        created() {
        },
        methods: {}
    }
</script>
<style>
    .box{
        margin-bottom: 0;
    }
    .modal-footer{
        padding: 6px;
    }
</style>