<template>
    <transition name="modal-fade">
        <div class="modal-backdrop">
            <div class="modal"
                 role="dialog"
                 aria-labelledby="modalTitle"
                 aria-describedby="modalDescription"
            >
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <header
                                class="modal-header"
                                id="modalTitle"
                            >
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <slot name="header">
                                                <div class="col-md-2 painel">
                                                    <strong>{{currentDate}}</strong>
                                                    <h5>{{paciente.nome}}</h5>
                                                </div>
                                                <div class="col-md-1 col-md-offset-9">
                                                    <button
                                                      type="button"
                                                      class="btn-close"
                                                      @click="close"
                                                      aria-label="Close modal"
                                                    >
                                                        x
                                                    </button>
                                                </div>
                                            </slot>
                                        </div>
                                    </div>
                                </div>
                            </header>
                            <div class="col-lg-12 fundo_anotacoes">
                                <section
                                class="modal-body"
                                id="modalDescription"
                                >
                                    <slot name="body">
                                        <paciente :pacienteId="paciente.id"
                                                  :historico="historico"
                                        >
                                        </paciente>
                                    </slot>
                                </section>
                            </div>
                            <div class="pull-right col-lg-12">
                                <footer class="modal-footer">
                                    <slot name="footer">
                                        <button
                                                type="button"
                                                class="btn-blue"
                                                @click="close"
                                                aria-label="Close modal"
                                        >
                                        FINALIZAR CONSULTA
                                        </button>
                                    </slot>
                                </footer>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </transition>
</template>
<script>
    import Paciente from './paciente/paciente';
    export default {
        name: 'consulta-started',
        props: {
          paciente: {required: false},
          historico: {required: false},
        },
        computed: {
          currentDate: function () {
            return moment(this.dateSearch).format('DD/MM/YYYY');
          }
        },
        components: {Paciente},
        methods: {
          close() {
            this.$emit('close');
          },
        },
    };
</script>
<style  scoped="scoped">
    .modal-backdrop {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.3);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 9998;
    }
    .modal {
        top: 5%;
        bottom: 5%;
        left: 5%;
        right: 5%;
        background: #FFFFFF;
        box-shadow: 2px 2px 20px 1px;
        overflow-x: auto;
        display: block;
        flex-direction: column;
    }
    .modal-body {
        background-color: #eaeaea;
        position: relative;
        height: 80%;
        padding: 20px 10px;
    }
    .btn-close {
        float: right;
        background: transparent;
        border: none;
        font-size: 24px;
        color: #3097D1;
    }
    .btn-blue {
        color: white;
        background: #3097D1;
        border: 1px solid #106aae;
        border-radius: 2px;
    }
    .fundo_anotacoes {
        background: #eaeaea;
    }
</style>