<template>
    <modal style="padding-top: 80px" size="md">
        <modal-header>
            {{title}}
        </modal-header>
        <form-submit v-model="form"
                     @submit="agendarConsulta()"
        >
            <alert-window ref="alertwindow"></alert-window>
            <modal-body>
                <!-- paciente id -->
                <form-group
                        :form="form"
                        field="paciente_id"
                >
                <input type="hidden"
                       ref="paciente_id"
                       name="paciente_id"
                       v-model="form.paciente_id"
                >
                </form-group>
                <!-- Paciente RG  -->
                <div class="row">
                   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <form-group
                                :form="form"
                                field="rg"
                        >
                            <input-label for="rg">RG do Paciente:</input-label>
                            <input-text
                                    v-mask="'##.###.###-#'"
                                    v-model="form.rg"
                                    :disabled="form.id"
                                    @change.native="buscarPacientePorRG"
                                    id="rg"
                                    name="rg"
                            ></input-text>
                        </form-group>
                    </div>
                </div>
                <!-- Paciente Nome  -->
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <form-group
                                :form="form"
                                field="nome"
                        >
                            <input-label for="nome">Nome do Paciente:</input-label>
                            <input-text
                                    :disabled="form.id"
                                    ref="nome"
                                    v-model="form.nome"
                                    id="nome"
                                    name="nome"
                            ></input-text>
                        </form-group>
                    </div>
                </div>
                <!-- Select Convenio -->
                <div v-show="!form.id" class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <form-group
                                :form="form"
                                field="convenio"
                        >
                            <input-label for="convenio_id">Convênios:</input-label>
                            <select-convenio  v-model="form.convenio_id"
                                              id="convenio_id"
                                              name="convenio_id"
                                              class="convenio"
                            >
                            </select-convenio>
                        </form-group>
                    </div>
                </div>
                <!-- Select Doutor -->
                <input :value="doutor"
                       type="hidden"
                       id="doutor_id"
                       name="doutor_id"
                >
                <!-- Consulta Data -->
                <div class="row" v-show="showdate">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <form-group
                                :form="form"
                                field="data_hora"
                        >
                            <input-label for="data_hora">Data:</input-label>
                            <vue-ctk-date-time-picker
                                    v-model="form.data_hora"
                                    :formatted="formatTime(form.data_hora)"
                                    format="YYYY-MM-DD"
                            >
                            </vue-ctk-date-time-picker>
                        </form-group>
                    </div>
                </div>
                <!-- Select Horários -->
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <form-group
                                :form="form"
                                field="horario_id"
                        >
                            <input-label for="horario_id">Horário :</input-label>
                            <select-horarios v-model="form.horario_id"
                                             deselect-label="Clique para Remover"
                                             track-by="inicio_consulta"
                                             label="inicio_consulta"
                                             placeholder="Campo Obrigatório"
                                             :options="horariosLivres"
                                             :searchable="false"
                                             :allow-empty="false">
                            </select-horarios>
                        </form-group>
                    </div>
                </div>
                <!-- Select Tipos de Consultas -->
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <form-group
                                :form="form"
                                field="tipo_id"
                        >
                            <input-label for="tipo_id">Tipo de Consulta:</input-label>
                            <select-tipo v-model="form.tipo_id" id="tipo_id" name="tipo_id">
                            </select-tipo>
                        </form-group>
                    </div>
                </div>
                <!-- Select Status -->
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <form-group
                                :form="form"
                                field="status_id"
                        >
                            <input-label for="status_id">Tipo de Consulta:</input-label>
                            <status-select v-model="form.status_id" id="status_id" name="status_id">
                            </status-select>
                        </form-group>
                    </div>
                </div>
            </modal-body>
            <modal-footer>
                <btn-submit :disabled="form.busy">
                </btn-submit>
            </modal-footer>
        </form-submit>
    </modal>
</template>
<script>
    import FormSubmit      from "../../shared/Forms/FormSubmit";
    import ModalForm       from "../../shared/Mixins/ModalForm";
    import FormGroup       from "../../shared/Forms/FormGroup";
    import TmForm          from "../../../vue/form";
    import SelectHorarios  from "vue-multiselect"
    import SelectConvenio  from "../../convenios/select-convenio";
    import SelectDoutor    from "../../doutor/doutor-select";
    import SelectTipo      from "../../tipos_de_consulta/tipos-de-consulta-select";
    import VueCtkDateTimePicker from "../../../../../../node_modules/vue-ctk-date-time-picker/src/vue-ctk-date-time-picker/vue-ctk-date-time-picker";
    import AlertWindow from "../../shared/Alerts/alert-window";
    import StatusSelect from "../../status/select-status";
    export default {
        mixins: [ModalForm],
        components: {
            StatusSelect,
            AlertWindow,
            VueCtkDateTimePicker,
            FormGroup,
            FormSubmit,
            SelectConvenio,
            SelectDoutor,
            SelectHorarios,
            SelectTipo
        },
        props: {
            doutor         : {required:true},
            horariosLivres : {required:true},
            data           : {required:true},
            showdate       : {required:true}
        },
        computed: {
            title() {
                return `${(this.form.id ? 'Remarcar ' : 'Agendar ')} Consulta`;
            }
        },
        data() {
            return {
             api: 'consultas',
             rg: '',
             alertMessage: false,
            }
        },
        watch: {
        },
        created() {
        },
        mounted () {
        },
        methods: {
          buildForm (consulta) {
            return new SlcForm ({
               id              : consulta ? consulta.id                     : null,
               data_hora       : consulta ? consulta.data_hora              : this.data,
               paciente_id     : consulta ? consulta.paciente_id            : null,
               convenio_id     : consulta ? consulta.paciente.convenio_id   : null,
               nome            : consulta ? consulta.paciente.nome          : null,
               rg              : consulta ? consulta.paciente.rg            : null,
               doutor_id       : consulta ? consulta.doutor_id              : this.doutor,
               status_id       : consulta ? consulta.status_id              : null,
               horario_id      : consulta ? consulta.horario.id             : null,
               tipo_id         : consulta ? consulta.tipo_id                : null
            });
          },
          formatTime (date) {
            return moment(date).format('DD/MM/YYYY');
          },
          agendarConsulta () {
            let self = this;
            this.form.data_hora = moment(this.form.data_hora,'YYYY-MM-DD HH:ss').format('YYYY-MM-DD HH:ss');
            let uri = laroute.route('api.consulta.agendar',{consulta: this.form});
            Slc.post(uri,this.form)
                .then((response) => {
                    if (response.error === true) {
                      let _message = response.message;
                      let _error   = response.error;
                      self.$refs.alertwindow.showAlertMessage(_error,_message);
                    } else {
                      this.$emit('agendou' ,this.form);
                      this.consulta = {};
                      this.consulta = this.buildForm(this.consulta);
                    }
                });
          },
          buscarPacientePorRG () {
              let self = this;
              let uri = laroute.route('api.consulta.get.paciente',{rg: this.form.rg});
              Slc.get(uri).then((response) => {
                if (response[0]) {
                  this.form.nome        = response[0].nome;
                  this.form.paciente_id = response[0].id;
                  this.form.convenio_id = response[0].convenio;
                }
              });
          }
        }
    }
</script>
<style scoped>

</style>