<template>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-7">
                <div class="box box-default">
                    <div class="box-header with-border">
                        <div class="box-title">
                            <strong class="">
                                <i class="fa fa-book"></i>
                                <small>Lista dos Tipos de Consultas</small>
                            </strong>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <list-tipos-de-consultas
                                        ref="lista"
                                >
                                </list-tipos-de-consultas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <tipos-de-consultas-form
                  @carregarLista="cash"
                >

                </tipos-de-consultas-form>
                <import-tipos-consultas-csv></import-tipos-consultas-csv>
            </div>
        </div>
    </div>
</template>
<script>
    import TiposDeConsultasForm from "./tipos-consultas-Form/tipos-consultas-form";
    import ListTiposDeConsultas from "./list-tipos-consultas/list-tipos-consultas";
    import ImportTiposConsultasCsv from "./form-import/import-tipos-consultas-csv";
    export default {
        components: {
            ImportTiposConsultasCsv,
            ListTiposDeConsultas,
            TiposDeConsultasForm
        },

        props: {

        },
        computed: {},
        data() {
            return {

            }
        },
        created() {
        },
        mounted () {

        },
        watch: {

        },
        methods: {
          cash (form){
            this.$refs.lista.reload(form);
          }
        }
    }
</script>
<style scoped>

</style>