<template>
    <div>
      <multi-select
        :value   = "value"
        :options = "horarios"
        label    = "inicio_consulta"
        track-by = "inicio_consulta"
      >
      </multi-select>
    </div>
</template>
<script>
    import MultiSelect from '../../../../../node_modules/vue-multiselect';
    export default {
        name: 'horario-select',
        components: {MultiSelect},
        props: {
          horarios : {required:true}
        },
        computed: {
            value: function () {
               return this.horarios[0];
            }
        },
        data() {
            return {

            }
        },
        created() {

        },
        methods: {}
    }
</script>
<style scoped>

</style>