<template>
   <td>
     <slot v-if="value"></slot>
   </td>
</template>
<script>
    export default {
        name: 'row-horario',
        components: {
        },
        props: {
          value : {required:true},
        },
        computed: {},
        data() {
          return {}
        },
        created() {

        },
        methods: {
            buscarStatus(){
                Slc.get(laroute.route('api.status.index')).then((response) => {
                    this.consultaStatus = response;
                    console.log('Consulta ', response);
                });
            },
            mudarStatus (consulta) {
                console.log('Quero ver agora ',consulta);
                let uri = laroute.route('api.consulta.change.status',{consulta: consulta.id, status: $('#status_consulta'+consulta.id).val()});
                Slc.get(uri).then((response) => {
                    this.$emit('changeStatus',response.data);
                });
            },
        }
    }
</script>
<style scoped>

</style>