<template>
    <div>
        <table class="table table-striped">
            <thead>
            <tr class="bg-primary">
                <th class="text-center">Andamento</th>
                <th>Hora</th>
                <th>Status</th>
                <th>Paciente</th>
            </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
</template>
<script>
    import RowHorario from "./row-horario";
    export default {
        components: {RowHorario},
        props: {

        },
        computed: {
        },
        data() {
            return {
                horarios : []
            }
        },
        created() {
        },
        mounted() {
          this.buscarStatus();
        },
        methods: {
            buscarStatus(){
                Slc.get(laroute.route('api.horarios.index')).then((response) => {
                    this.horarios = response;
                    console.log('Horarios ',this.horarios);
                });
            },
            mudarStatus (consulta) {
                console.log('Quero ver agora ',consulta);
                let uri = laroute.route('api.consulta.change.status',{consulta: consulta.id, status: $('#status_consulta'+consulta.id).val()});
                Slc.get(uri).then((response) => {
                    this.$emit('changeStatus',response.data);
                });
            }
        }
    }
</script>
<style scoped>

</style>