<template>
    <modal style="padding-top: 80px" size="md">
        <modal-header>
            Agende uma Consulta
        </modal-header>
        <form-submit v-model="form" @submit="agendarConsulta()">
            <modal-body>
                <!-- paciente id -->
                <form-group
                        :form="form"
                        field="paciente_id"
                >
                <input type="hidden" ref="paciente_id" name="paciente_id" v-model="form.paciente_id">
                </form-group>
                <!-- Paciente RG  -->
                <div class="row">
                   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <form-group
                                :form="form"
                                field="rg"
                        >
                            <input-label for="rg">RG do Paciente:</input-label>
                            <input-text
                                    v-mask="'##.###.###-#'"
                                    v-model="form.rg"
                                    @change.native="buscarPacientePorRG"
                                    id="rg"
                                    name="rg"
                            ></input-text>
                        </form-group>
                    </div>
                </div>
                <!-- Paciente Nome  -->
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <form-group
                                :form="form"
                                field="nome"
                        >
                            <input-label for="nome">Nome do Paciente:</input-label>
                            <input-text
                                    ref="nome"
                                    v-model="form.nome"
                                    id="nome"
                                    name="nome"
                            ></input-text>
                        </form-group>
                    </div>
                </div>
                <!-- Select Convenio -->
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <form-group
                                :form="form"
                                field="convenio"
                        >
                            <input-label for="convenio_id">Convênios:</input-label>
                            <select-convenio v-model="form.convenio_id" id="convenio_id" name="convenio_id" class="convenio">
                            </select-convenio>
                        </form-group>
                    </div>
                </div>
                <!-- Select Doutor -->
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <form-group
                                :form="form"
                                field="doutor_id"
                        >
                            <input-label for="doutor_id">Doutor:</input-label>
                            <select-doutor v-model="form.doutor_id" id="doutor_id" name="doutor_id">
                            </select-doutor>
                        </form-group>
                    </div>
                </div>
                <!-- Consulta Data -->
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <form-group
                                :form="form"
                                field="data_hora"
                        >
                            <input-label for="data_hora">Data:</input-label>
                            <vue-ctk-date-time-picker
                                    v-model="form.data_hora"
                                    :formatted="formatTime(form.data_hora)"
                                    format="YYYY-MM-DD"
                            >
                            </vue-ctk-date-time-picker>
                        </form-group>
                    </div>
                </div>
            </modal-body>
            <modal-footer>
                <btn-submit :disabled="form.busy">
                </btn-submit>
            </modal-footer>
        </form-submit>
    </modal>
</template>
<script>
    import FormSubmit      from "../../shared/Forms/FormSubmit";
    import ModalForm       from "../../shared/Mixins/ModalForm";
    import FormGroup       from "../../shared/Forms/FormGroup";
    import TmForm          from "../../../vue/form";
    import SelectConvenio  from "../../convenios/select-convenio";
    import SelectDoutor    from "../../doutor/doutor-select";
    import VueCtkDateTimePicker from "../../../../../../node_modules/vue-ctk-date-time-picker/src/vue-ctk-date-time-picker/vue-ctk-date-time-picker";
    export default {
        mixins: [ModalForm],
        components: {
            VueCtkDateTimePicker,
            FormGroup,
            FormSubmit,
            SelectConvenio,
            SelectDoutor
        },
        props: {
            doutores: {required:true}
        },
        computed: {},
        data() {
            return {
             api: 'consultas',
             rg: ''
            }
        },
        watch: {
        },
        created() {
          this.consulta = this.buildForm (this.consulta);
        },
        mounted () {

        },
        methods: {
          buildForm (_data) {
            return new SlcForm ({
               id              : _data ? _data.id              : null,
               data_hora       : _data ? _data.data_hora       : null,
               paciente_id     : _data ? _data.paciente_id     : null,
               convenio_id     : _data ? _data.convenio_id     : null,
               nome            : _data ? _data.nome            : null,
               rg              : _data ? _data.rg              : null,
               doutor_id       : _data ? _data.doutor_id       : null
            });
          },
          formatTime (date) {
            return moment(date).format('DD/MM/YYYY');
          },
          agendarConsulta () {
            this.form.data_hora   =  moment(this.form.data_hora,'YYYY-MM-DD').format('YYYY-MM-DD');
            let convenio = this.form.convenio_id;
            let doutor   = this.form.doutor_id;
              this.form.convenio_id =  this.form.convenio_id.id;
              this.form.doutor_id   =  this.form.doutor_id.id;
            let uri = laroute.route('api.consulta.agendar',{consulta: this.form});
            Slc.post(uri,this.form)
                .then((response) => {
                    this.$emit('agendou',this.form);
                    this.consulta = {};
                    this.consulta = this.buildForm(this.consulta);
                });
          },
          buscarPacientePorRG () {
              let self = this;
              let uri = laroute.route('api.consulta.get.paciente',{rg: this.form.rg});
              console.log(uri);
              Slc.get(uri).then((response) => {
                if (response[0]) {
                  console.log('rESPOS ', response[0]);
                  //self.$refs.nome.value        = response[0].nome;
                  this.form.nome          = response[0].nome;
                  this.form.paciente_id   = response[0].id;
                  this.form.convenio_id   = response[0].convenio;
                  console.log('Paciente', response);
                  //self.$refs.paciente_id.value = response[0].id;
                }
              });
          }
        }
    }
</script>
<style scoped>

</style>