<template>
    <div>
        <div class="">
            <aside class="col-lg-2">

            </aside>
            <section class="col-lg-10">
              <anaminese :paciente="paciente"
                         :idHistorico="historico"
              >
              </anaminese>
            </section>
        </div>
    </div>
</template>
<script>
    import Anaminese from './anaminese/anaminese';
    export default {
        components: {Anaminese},
        props: {
            pacienteId:{required:true},
            historico: {required:true}
            },
        computed: {},
        data() {
            return {
                paciente: null,
                historicoId: 0,
            }
        },
        created() {
        },
        mounted() {
         this.searchPaciente();
        },
        methods: {
         searchPaciente () {
          let uri = laroute.route('api.pacientes.get.historico',{pacienteId: this.pacienteId});
          Slc.get(uri).then((response) => {
            this.paciente    = response[0];
            this.historicoId = response[0].historicos[0].id;
          });
         }
        }
    }
</script>
<style scoped>

</style>