<template>
    <div>
        <div class="box box-default">
            <form-submit v-model="form" @submit="save">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="box-header with-border">
                            <div class="box-title">
                                <strong>
                                    <small>Convênio</small>
                                </strong>
                            </div>
                        </div>
                        <div class="box-body">
                            <form-group
                                    :form="form"
                                    field="nome"
                            >
                                <input-label for="nome">Nome do Convênio:</input-label>
                                <input-text
                                        ref="nome"
                                        v-model="form.nome"
                                        id="nome"
                                        name="nome"
                                ></input-text>
                            </form-group>
                        </div>
                    </div>
                </div>
            </form-submit>
            <div class="box-footer">
                <div class="row">
                    <div class="col-lg-12">
                        <button class="btn btn-success pull-right"
                                @click="cadastrarConvenio"
                        >Cadastrar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import FormSubmit      from "../../shared/Forms/FormSubmit";
    import ModalForm       from "../../shared/Mixins/ModalForm";
    import FormGroup       from "../../shared/Forms/FormGroup";
    export default {
        mixins: [ModalForm],
        components: {
            FormGroup,
            FormSubmit
        },
        name: '',
        props: {},
        computed: {},
        data() {
            return {
                api: 'convenios'
            }
        },
        methods: {
            buildForm (_data) {
                return new SlcForm ({
                    id              : _data ? _data.id              : null,
                    nome            : _data ? _data.nome            : null
                });
            },
            cadastrarConvenio () {
                let uri = laroute.route('api.convenios.store',{request : this.form});
                Slc.post(uri, this.form).then((response) => {
                    this.$emit('carregarLista',this.form);
                    this.form = this.buildForm({});
                });
            }
        }
    }
</script>
<style scoped>

</style>