<template>
    <div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-7">
                    <div class="box box-default">
                        <div class="box-header with-border">
                            <div class="box-title">
                                <strong class="">
                                    <i class="fa fa-flask"></i>
                                    <small>Lista de Exames</small>
                                </strong>
                                <div class="pull-right">
                                    <small>Combo &nbsp;</small>
                                        <toggle-button v-model="cadastroCombo"
                                                       color="#82C7EB"
                                                       :sync="true"
                                                       :labels="true"
                                        />
                                    <small>&nbsp;&nbsp;Característica</small>
                                </div>
                            </div>
                        </div>
                        <div class="box-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <list-exames @pushExames="setExame"></list-exames>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <combos-exames ref="combos"
                                   @setExames="pushExames"
                    >
                    </combos-exames>

                    <caracteristica-exames :exame="exame"
                                           ref="caracteristica"
                    >
                    </caracteristica-exames>

                    <import-exames-csv></import-exames-csv>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import ListExames from './list-exames/list-exames';
    import CombosExames from './combo-exame/combo-exame';
    import ImportExamesCsv from './form-import/import-exames-csv';
    import CaracteristicaExames from './caracteristica-exames/caracteristica-exame';
    import swal from 'sweetalert';
    import ToggleButton from 'vue-js-toggle-button/src/Button'
    export default {
        components: {
            ListExames,
            ImportExamesCsv,
            CombosExames,
            CaracteristicaExames
        },
        props: {

        },
        computed: {},
        data() {
            return {
              combo: null,
              exameCaracteristica:{

              },
              exame:{

              },
              cadastroCombo:true
            }
        },
        created() {

        },
        mounted () {

        },
        watch: {

        },
        methods: {
         buildForm: function buildForm(_data) {
             return new SlcForm({
                id:     _data ? _data.id    : null,
                cod:    _data ? _data.cod   : null,
                nome:   _data ? _data.nome  : null
             });
         },
          pushExames(combo){
           this.combo = combo;
          },
          setExame(exame) {
              this.exame = exame.exame;
              if(this.cadastroCombo){
                  if(this.combo == null) {
                      alert('Selecione um combo');
                  } else {
                      this.$refs.combos.pushNewExame(this.buildForm(exame.exame));
                  }
              }else{
                  this.$refs.caracteristica.getCaracteristica(exame.exame.id);
              }
          }
        }
    }
</script>
<style scoped>

</style>