<template>
    <div>
        <consulta-started
                v-if="paciente != null"
                v-show="isModalVisible"
                @close="closeModal"
                :paciente="paciente"
                :historico="historico"
        >
        </consulta-started>
       <table class="table table-striped">
         <thead>
          <tr class="bg-primary">
            <th class="text-center">Horário</th>
            <th class="text-center">Andamento</th>
            <th class="text-center">Status</th>
            <th class="text-center">Tipo</th>
            <th class="text-center">Nome do Paciente</th>
            <th class="text-center">Iniciar Consulta</th>
          </tr>
         </thead>
         <tbody>
         <tr v-for="consulta in consultas">
             <td align="" class="text-center">
                 <span>{{consulta.horario.inicio_consulta}}</span>
             </td>
             <td align="" class="text-center" v-html="consulta.andamento.icone"></td>
             <td class="text-center">
                 <strong :style="status(consulta.andamento.nome)">{{consulta.andamento.nome}}</strong>
             </td>
             <td class="text-center">
                 <strong>{{consulta.tipo.nome}}</strong>
             </td>
             <td class="text-center">
                 <span>{{consulta.paciente.nome}}</span>
             </td>
             <td class="text-center">
               <a class="btn btn-default"
               @click="startConsulta(consulta.paciente)"
               >
                 INICIAR
               </a>
             </td>
         </tr>
         </tbody>
       </table>
    </div>
</template>
<script>
    import ConsultaStarted from '../painel-consulta/consulta-started';
    export default {
        components: {ConsultaStarted},
        props: {
            consultas : {required:true}
        },
        computed: {
        },
        data() {
          return {
              isModalVisible: false,
              paciente: null,
              historico: null
          }
        },
        created() {
        },
        methods: {
          formatTime (time) {
            //2018-09-14 11:00:00
            let time_ = time.substring(11, 16);
            return time_;
          },
          status (nome) {
              switch (nome)  {
                  case "Aguardando":
                      return 'color : green';
                      break;
                  case "Atendido":
                      return 'color : green';
                      break;
                  case "Agendado":
                      return 'color : #FBC02D';
                      break;
                  default :
                      return 'color : red';
              }
          },
          startConsulta (paciente) {
              this.isModalVisible = true;
              this.paciente  = paciente;
              this.historico = paciente.historicos[0].id;
          },
          closeModal() {
              this.isModalVisible = false;
          }
        }
    }
</script>
<style scoped>

</style>