<template>
    <div>
        <box-anamnese title="Guia" icon="fa fa-file-text-o">
            <div class="container-fluid">
                <box-body-anamnese>
                    <form :action="url"
                          method="post"
                          target="_blank"
                    >
                        <input type="hidden" name="exames" v-model="exameJson"/>
                        <input type="hidden" name="_token" v-model="csrf"/>
                        <div class="row">
                            <div class="col-lg-9">
                                <input class="form-control"
                                       type="hidden"
                                       name="profissional"
                                       v-model="nomeDoutor"
                                />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-9">
                                <input class="form-control"
                                       type="hidden"
                                       name="crm"
                                       v-model="doutorCrm"
                                />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-1">
                                <label>Combo</label>
                            </div>
                            <div class="col-lg-10">
                                <combos-exames-select v-model="combo"
                                                      :reset-after="true"
                                                      name="combo-exames"
                                                      ref="combosselect"
                                >
                                </combos-exames-select>
                            </div>
                            <div class="col-lg-01">
                                <a class="btn btn-success"
                                   @click="getExamesByCombo"
                                >
                                 Mostrar
                                </a>
                            </div>
                        </div><br>
                        <div class="row">
                            <div class="col-lg-12">
                                <table class="table table-striped">
                                    <tbody>
                                        <tr v-for="exame in examesArray">
                                            {{ exame.nome }}
                                            <span class="btn btn-defaul pull-right"
                                                  @click="oneDeleteExame(exame)"
                                            >
                                                <i class="fa fa-trash"></i>
                                            </span>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <button class="btn btn-primary pull-right"
                                        type="submit"
                                        value="submit"
                                        v-show="show"
                                >
                                    Gerar
                                </button>
                            </div>
                        </div>
                    </form>
                </box-body-anamnese>
                <box-footer-anamnese>
                    footer
                </box-footer-anamnese>
            </div>
        </box-anamnese>
    </div>
</template>
<script>
    import BoxAnamnese from "../../shared/BoxAnamnese";
    import CombosExamesSelect from '../../../../../combos/combos-exames-select';
    import BoxBodyAnamnese from "../../shared/BoxBodyAnamnese";
    import BoxFooterAnamnese from "../../shared/BoxFooterAnamnese";
    export default {
        name: 'guia',
        props: {},
        components:{
            BoxFooterAnamnese,
            BoxBodyAnamnese,
            BoxAnamnese,
            CombosExamesSelect
        },
        computed: {},
        data() {
            return {
                url: laroute.route('atestado.index'),
                csrf: document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
                nomeDoutor:Slc.user.name,
                doutorCrm:Slc.user.crm,
                listArrayExame:[],
                exameJson:'',
                combo:{},
                examesArray:[],
                show:false,
            }
        },
        created(){},
        mounted(){},
        methods: {
            getExamesByCombo () {
              this.show        = true;
              this.examesArray = this.combo.exames;
              this.exameJson   = JSON.stringify(this.examesArray);
            },
            oneDeleteExame(index){
                let i = this.examesArray.findIndex(function (_index) {
                      if(index.id == _index.id){
                          return _index;
                          }
                    });
                if (i != -1) {
                    this.examesArray.splice(i, 1);
                    this.exameJson = JSON.stringify(this.examesArray);
                }
            },
        }
    }
</script>
<style scoped>

</style>