<template>
     <div class="container-fluid">
         <div class="row">
             <div class="col-lg-7">
                 <div class="box box-default">
                     <div class="box-header with-border">
                         <div class="box-title">
                             <strong class="">
                                 <i class="fa fa-ambulance"></i>
                                 <small>Lista de Convênios</small>
                             </strong>
                         </div>
                     </div>
                     <div class="box-body">
                         <div class="row">
                             <div class="col-lg-12">
                                 <list-convenio ref="convenios"></list-convenio>
                             </div>
                         </div>
                     </div>
                 </div>
             </div>
             <div class="col-lg-5">
               <convenio-form
                       @carregarLista="carregar"
               ></convenio-form>
               <import-convenios-csv></import-convenios-csv>
             </div>
         </div>
    </div>
</template>
<script>
    import ConvenioForm   from "./convenio-Form/convenio-form";
    import ListConvenio   from "./list-convenio/list-convenio";
    import ImportConveniosCsv from "./form-import/import-convenios-csv";

    export default {
        components: {
            ConvenioForm,
            ListConvenio,
            ImportConveniosCsv
        },
        name: '',
        props: {},
        computed: {},
        data() {
            return {

            }
        },
        methods: {
          carregar (convenio) {
           this.$refs.convenios.convenioUpdated(convenio);
          }
        }
    }
</script>
<style scoped>

</style>