<template>
    <div>

    </div>
</template>
<script>
    export default {
        components: {},
        props: {
         doutor : {required:true}
        },
        computed: {},
        data() {
            return {
                full     : [],
                available: [],
                date : ''
            }
        },
        created() {

        },
        watch: {
          doutor : function () {
            this.searchAvailableDades();
          }
        },
        mounted () {
           this.getAvailableDates();
        },
        methods: {
          getAvailableDates() {
              this.$nextTick(() => {
                  let indexFull      = 0;
                  let indexAvailable = 0;
                  let self = this;
                  this.date = window.$(this.$el).datepicker({
                      format         : 'DD/MM/yyyy',
                      language       : 'pt-BR',
                      todayHighlight : true,
                      beforeShowDay  : function () {
                          for (var verificar = 0; verificar <= 366; verificar++) {
                              var _date = moment(new Date, 'DD-MM-YYYY').format('DD-MM-YYYY');
                              if (_date == self.full[indexFull]) {
                                  indexFull++;
                                  return { classes: 'bg-danger', tooltip: 'Lotado' };
                              } else if (_date == self.available[indexAvailable]) {
                                  indexAvailable++;
                                  return { classes: 'bg-warning', tooltip: 'Ainda há vagas' }
                              } else {
                                  return [true];
                              }
                          }
                      }
                  });
              });
          },
          searchAvailableDades () {
              Slc.get(laroute.route('api.consulta.get.available.dates',{doctorId: this.doutor}))
               .then((response) => {
                 this.available = response.disponivel;
                 this.full      = response.lotado;
                 console.log('fsf ',this.date.datepicker());
            })
          }
        },
    }
</script>
<style scoped>

</style>