<template>
    <div>
      <table class="table table-striped">
         <thead>
            <tr class="bg-primary">
                <th class="text-center">Andamento</th>
                <th>Hora</th>
                <th>Status</th>
                <th>Paciente</th>
            </tr>
         </thead>
          <tbody>
            <tr v-for="consulta in consultas">
              <td align="" class="text-center" v-html="consulta.andamento.icone"></td>
              <td class="text-left">
                <row-horario
                   :hoarioInicial="consulta.horario.inicio_consulta"
                   :hoarioFinal="consulta.horario.fim_consulta"
                >
                </row-horario>
              </td>
              <td class="text-left">
                  <select
                    :ref="'status_consulta' + consulta.id"
                    :id="'status_consulta' + consulta.id"
                    class="form-control"
                    @change="mudarStatus(consulta)"
                  >
                      <option
                         v-for="status in consultaStatus"
                         :selected="consulta.status.id === status.id"
                         :value="status.id"
                      >
                        {{status.nome}}
                      </option>
                  </select>
              </td>
              <td class="text-left">
                  <span>{{consulta.paciente.nome}}</span>
              </td>
            </tr>
          </tbody>
      </table>
    </div>
</template>
<script>
    import RowHorario from '../../horarios/row-horario';
    export default {
        components: {RowHorario},
        props: {
          consultas : {required:true}
        },
        computed: {
        },
        data() {
          return {
            consultaStatus : []
          }
        },
        created() {
        },
        mounted() {
            this.buscarStatus();
        },
        methods: {
          buscarStatus(){
            Slc.get(laroute.route('api.status.index')).then((response) => {
                this.consultaStatus = response;
                console.log('Consulta ', response);
            });
          },
          mudarStatus (consulta) {
            let uri = laroute.route('api.consulta.change.status',{consulta: consulta.id, status: $('#status_consulta'+consulta.id).val()});
            Slc.get(uri).then((response) => {
              this.$emit('changeStatus',response.data);
            });
          },
        }
    }
</script>
<style scoped>

</style>