<template>
    <div>
        <div class="col-lg-12">
            <div>
                <date-picker
                        @change="mudou()"
                        color="#3c8dbc"
                        v-if="show"
                        v-model="dateSearch"
                        @close="show = false"
                ></date-picker>
            </div>
            <div class="box box-default">
                <div class="box-header with-border">
                    <div class="box-title">
                        <strong class="">
                            <i class="fa fa-calendar"></i>
                            <small>{{printDate}}</small>
                        </strong>
                    </div>
                    <div @click="showCalendar" class="box-tools">
                        <button class="btn btn-sm btn-default">
                            <i class="fa fa-calendar"></i> &nbsp;
                            <small>Buscar Consultas</small>
                        </button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <select
                                    @change="searchConsultas()"
                                    ref="doutor"
                                    id="doutor-select"
                                    class="form-control"
                            >
                                <option v-for="doutor in doutores"
                                        :value="doutor.id"
                                >
                                    {{doutor.name}}
                                </option>
                            </select>
                        </div>
                        <div class="col-lg-6">
                            <button @click="agendar" class="btn btn-success pull-right">
                                AGENDAR
                            </button>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-lg-12">
                            <tabela
                               ref="agendar"
                               @cadastro="cadastrarPaciente"
                               @changeStatus="buscar"
                               @remarcar="remarcarConsulta"
                               :consultas="agendaHorario"
                            >
                            </tabela>
                        </div>
                    </div>
                </div>
            </div>
            <paciente-form ref="pacienteform"
            >
            </paciente-form>
            <consulta-form
              @agendou="depoisDoAgendamento"
              :doutor="doutorID"
              :horariosLivres="horariosLivres"
              :data="dateSearch"
              :showdate="showDate"
              ref="form"
            >
            </consulta-form>
        </div>
    </div>
</template>
<script>
    import Tabela             from './table-consulta/table-consulta';
    import DatePicker         from '../../../../../node_modules/vue-md-date-picker';
    import CalendarioConsulta from './calendario-consulta/calendario-consulta';
    import ConsultaForm       from './consulta-form/consulta-form';
    import PacienteForm       from '../pacientes/paciente-form/paciente-form';
    export default {
        components: {
            PacienteForm,
            Tabela,
            DatePicker,
            CalendarioConsulta,
            ConsultaForm
        },
        props: {

        },
        data() {
            return {
                doutores       : '',
                doutorID       : 0,
                consultas      : '',
                date           : '',
                dateSearch     : '',
                show           : false,
                horarios       : [],
                agendaHorario  : '',
                horariosLivres : [],
                showDate       : false
            }
        },
        created() {
        },
        mounted () {
          this.formatDate(new Date);
          this.reload();
          this.selectHorarios();
        },
        computed: {
          printDate: function () {
             return moment(this.dateSearch).format('DD/MM/YYYY');
          }
        },
        watch: {
          dateSearch: function () {
            this.buscar();
          }
        },
        methods: {
            reload() {
              Slc.get(laroute.route('api.consulta.index'))
                  .then((response) => {
                    this.doutores = response[0].users;
                    this.doutorID = this.doutores[0].id;
                    this.buscar();
                  });
            },
            newConsulta (hora) {
              return {
                  andamento: {
                      created_at:"",
                      icone:"",
                      id:"",
                      is_deleted:"",
                      nome:"",
                      updated_at:"",
                      created_at:"",
                      data_hora:""
                  },
                  created_at :"",
                  data_hora  :"",
                  destroyForm: {},
                  doutor_id:"",
                  editForm: {},
                  horario: {
                      created_at:"",
                      data_horario_especial:null,
                      fim_consulta:"",
                      horario_especial:0,
                      id:"",
                      inicio_consulta:hora,
                      is_deleted:'',
                      updated_at:""
                  },
                  tipo: {
                    nome: '',
                  },
                  horario_id:'',
                  tipo_id:'',
                  id:0,
                  is_deleted:'',
                  paciente: {},
                  paciente_id:'',
                  status:{},
                  updated_at:""
              }
            },
            selectHorarios () {
              Slc.get(laroute.route('api.horarios.index')).then((response) => {
               this.horarios = response;
              });
            },
            buscar () {
              this.horariosLivres = [];
              this.agendaHorario  = [];
              let uri = laroute.route('api.consulta.by.doutor',{id: this.doutorID, data: this.dateSearch});
              Slc.get(uri)
               .then((response) => {
                  this.consultas = response;
                  let i     =  0;
                  let array = [];
                  for (let horario = 0; horario < 24; horario ++) {
                    let hora = this.horarios[horario].inicio_consulta;
                    array[horario] = this.newConsulta(hora);
                  }
                  // verificar consulta e horário
                  while (i < response.length) {
                    let _consulta = response[i];
                    var index = this.horarios.findIndex((_index) => {
                      if (_index.id == _consulta.horario_id) {
                        return _index;
                      }
                    });
                    if (index > -1) {
                      array[index] = _consulta;
                      this.horariosLivres.push(_consulta.horario_id);
                    }
                    i++;
                  }
                  this.agendaHorario = array;
                  if (this.horariosLivres.length != 0) {
                    this.buscarHorariosLivres();
                  } else {
                    this.horariosLivres = this.horarios;
                  }
              });
            },
            depoisDoAgendamento (obj) {
               this.$refs.form.saved(obj,'post');
               this.buscar();
            },
            searchConsultas () {
              this.doutorID  = this.$refs.doutor.value;
              this.buscar();
            },
            showCalendar () {
              this.show = true;
            },
            atualizarLista (event) {
            },
            formatDate ($date) {
              this.date       = moment($date).format('DD/MM/YYYY');
              this.dateSearch = moment($date).format('YYYY-MM-DD');
            },
            agendar () {
              this.$refs.form.show();
            },
            editar () {
                this.$refs.form.show();
            },
            cadastrarPaciente(paciente){
                this.$refs.pacienteform.show();
            },
            buscarHorariosLivres () {
              const uri = laroute.route('api.horarios.get.horarios.livres',{ids: this.horariosLivres});
              Slc.get(uri).then((response) => {
                this.horariosLivres = response;
              });
            },
            remarcarConsulta (consulta) {
             this.showDate = true;
             // refresh os horarios livres
              this.horariosLivres = [];
              for (let horario = 0; horario < 24; horario++) {
                this.horariosLivres[horario] = this.horarios[horario];
              }
             this.$refs.form.show(consulta);
            },
        }
    }
</script>
<style scoped>

</style>