<template>
    <div>
        <modal style="padding-top: 80px" size="md">
            <div class="container-fluid">
                <div class="col-lg-12">
                    <modal-header>Cadastro de Paciente</modal-header>
                    <!--<form-submit>-->
                        <modal-body>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="inputMatricula">Matrícula</label>
                                    <input type="text" class="form-control" id="inputMatricula" placeholder="Matrícula">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="inputFoto">Foto</label>
                                    <input type="image" class="form-control" id="inputFoto">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputName">Nome</label>
                                <input type="text" class="form-control" id="inputName" placeholder="Nome do paciente">
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="inputDate">Data de Nascimento</label>
                                    <input type="text" class="form-control" id="inputDate">
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="inputSexo">Sexo</label>
                                    <select id="inputSexo" class="form-control">
                                        <option selected>Choose...</option>
                                        <option>...</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-2">
                                    <label for="inputEstadoCivil">Estado Civil</label>
                                    <select id="inputEstadoCivil" class="form-control">
                                        <option selected>Choose...</option>
                                        <option>...</option>
                                    </select>
                                </div>
                                <div>
                                    <label for="inputCor">Cor</label>
                                    <select id="inputCor" class="form-control">
                                        <option selected>Choose...</option>
                                        <option>...</option>
                                    </select>
                                </div>
                                <div>
                                    <label for="inputNaturalidade">Naturalide</label>
                                    <input type="text" class="form-control" id="inputNaturalidade">
                                </div>
                                <div>
                                    <label for="inputGrauInstrucao">Grau de Instrução</label>
                                    <select id="inputGrauInstrucao" class="form-control">
                                        <option selected>Choose...</option>
                                        <option>...</option>
                                    </select>
                                </div>
                                <div>
                                    <label for="inputRg">Rg</label>
                                    <input type="text" class="form-control" id="inputRg">
                                </div>
                                <div>
                                    <label for="inputOrgaoEmissor">Orgão Emissor</label>
                                    <input type="text" class="form-control" id="inputOrgaoEmissor">
                                </div>
                                <div>
                                    <label for="inputCpf">CPF</label>
                                    <input type="text" class="form-control" id="inputCpf">
                                </div>
                                <div>
                                    <label for="inputProfissao">Profissão</label>
                                    <input type="text" class="form-control" id="inputProfissao">
                                </div>
                                <div>
                                    <label for="inputFixo">Telefone Residencial</label>
                                    <input type="text" class="form-control" id="inputFixo">
                                </div>
                                <div>
                                    <label for="inputCel">Telefone Celular</label>
                                    <input type="text" class="form-control" id="inputCel">
                                </div>
                                <div>
                                    <label for="inputEmail">Email</label>
                                    <input type="email" class="form-control" id="inputEmail">
                                </div>
                                <div>
                                    <label for="inputIndicacao">Indicação</label>
                                    <input type="text" class="form-control" id="inputIndicacao">
                                </div>
                                <div>
                                    <label for="inputCep">CEP</label>
                                    <input type="text" class="form-control" id="inputCep">
                                </div>
                                <div>
                                    <label for="inputEndereco">Endereço</label>
                                    <input type="text" class="form-control" id="inputEndereco">
                                </div>
                                <div>
                                    <label for="inputComplemento">Complemento</label>
                                    <input type="text" class="form-control" id="inputComplemento">
                                </div>
                                <div>
                                    <label for="inputBairro">Bairro</label>
                                    <input type="text" class="form-control" id="inputBairro">
                                </div>
                                <div>
                                    <label for="inputCidade">Cidade</label>
                                    <input type="text" class="form-control" id="inputCidade">
                                </div>
                                <div>
                                    <label for="inputUf">UF</label>
                                    <input type="text" class="form-control" id="inputUf">
                                </div>
                                <div>
                                    <label for="inputObservacao">Observação</label>
                                    <input type="text" class="form-control" id="inputObservacao">
                                </div>
                            </div>
                        </modal-body>
                        <modal-footer>
                            <button type="submit" class="btn btn-primary">Salvar</button>
                        </modal-footer>
                    <!--</form-submit>-->
                </div>
            </div>
        </modal>
    </div>
</template>
<script>
    import FormSubmit      from "../../shared/Forms/FormSubmit";
    import ModalForm       from "../../shared/Mixins/ModalForm";
    import FormGroup       from "../../shared/Forms/FormGroup";
    export default {
        components: {
            FormGroup,
            FormSubmit,
        },
        mixins:[
            ModalForm
        ],
        name: 'pacienteForm',
        props: {

        },
        computed: {},
        data() {
            return {
            }
        },
        methods: {
        }
    }
</script>
<style scoped>

</style>