<template>
    <div>
        <table class="table table-striped">
            <thead>
            <tr class="bg-primary">
                <th class="text-center">Andamento</th>
                <th class="text-center">Tipo de Consulta</th>
                <th>Hora</th>
                <th>Status</th>
                <th>Paciente</th>
                <th class="text-center">Remarcar</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="consulta in consultas">
                <row-horario :value="consulta.andamento.icone">
                  <div align=""
                       :ref="'andamento_icone' + consulta.id"
                       :id="'andamento_icone' + consulta.id"
                       class="text-center"
                       v-html="consulta.andamento.icone"
                  >
                  </div>
                </row-horario>
                <row-horario class="text-center" :value="consulta.tipo.nome">
                    <span>{{consulta.tipo.nome}}</span>
                </row-horario>
                <td>
                  <span class="text-left">
                    {{consulta.horario.inicio_consulta}}
                  </span>
                </td>
                <row-horario :value="consulta.id > 0">
                    <select
                            :ref="'status_consulta' + consulta.id"
                            :id="'status_consulta' + consulta.id"
                            class="form-control"
                            @change="mudarStatus(consulta)"
                    >
                        <option
                                v-for="andamento in consultaStatus"
                                :selected="consulta.andamento.id === andamento.id"
                                :value="andamento.id"
                        >
                            {{andamento.nome}}
                        </option>
                    </select>
                </row-horario>
                <row-horario :value="consulta.paciente.nome">
                  <span class="text-left">{{consulta.paciente.nome}}</span>
                </row-horario>
                <row-horario class="text-center" :value="consulta.paciente.nome">
                    <button class="btn btn-default"
                            @click="remarcarConsulta(consulta)"
                    >
                       <i class="fa fa-pencil"></i>
                    </button>
                    <button class="btn btn-default"
                            @click="pacienteCadastro(consulta.paciente)"
                    >
                        <i class="fa fa-user"></i>
                    </button>
                </row-horario>
            </tr>
            </tbody>
        </table>

    </div>
</template>
<script>
    import RowHorario from '../../horarios/row-horario';
    //import PacienteForm from "../../pacientes/paciente-form/paciente-form";
    export default {
        components: {RowHorario},
        props: {
            consultas : {
                required:true,
            },
        },
        computed: {
        },
        data() {
            return {
                consultaStatus : [],
            }
        },
        created() {
        },
        mounted() {
          this.buscarStatus();
        },
        methods: {
            buscarStatus(){
                Slc.get(laroute.route('api.andamentos.index')).then((response) => {
                    this.consultaStatus = response;
                });
            },
            mudarStatus (consulta) {
                let uri = laroute.route('api.consulta.change.status',{consulta: consulta.id, status: $('#status_consulta'+consulta.id).val()});
                Slc.get(uri).then((response) => {
                    this.$emit('changeStatus');
                });
            },
            remarcarConsulta (consulta) {
                this.$emit('remarcar', consulta);
            },
            pacienteCadastro (paciente) {
                this.$emit('cadastro', paciente);
            },
        }
    }
</script>
<style scoped>

</style>