<template>
    <div>
        <div class="box box-default">
            <div class="box-header with-border">
                <div class="box-title">
                    <strong class="">
                        <i class="fa fa-fw fa-upload"></i>
                        <small>Import Csv</small>
                    </strong>
                </div>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-lg-4">
                     <img v-if="load" width="100%" :src="'/img/Loading_icon.gif'"/>
                     <img v-else :src="'/img/excel.png'" width="100%"/>
                    </div>
                    <div class="col-lg-8">
                          <div class="form-group">
                            <label class="control-label">Importar Excel</label>
                            <input class="form-control"
                                   @change="onFileChange"
                                   name="file"
                                   type="file"
                                   ref="file"/>
                          </div>
                          <div class="form-group">
                              <button class="btn btn-success pull-right"
                              @click="sendFile">
                                 Enviar
                              </button>
                          </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import * as Slc from "../../../vue/http";
    export default {
        components: {},
        props: {},
        computed: {},
        data() {
            return {
              excelFile: {},
              load: false
            }
        },
        created() {

        },
        methods: {
            onFileChange(e) {
                const files = e.target.files || e.dataTransfer.files;
                if (!files.length) {
                    return;
                }

                let hasInvalid = false;
                const allowedFiles = [];
                for (let i = 0; i < files.length; i++) {
                    let f = files.item(i);
                    console.log('File', f);
                    const extension = f.name.split('.').pop().toLowerCase();
                    allowedFiles.push(f);
                }
                this.$emit('uploading');
                this.excelFile = allowedFiles;
            },

            sendFile () {
                this.$refs.file.value = null;
                this.load = true;
                const uri = laroute.route('api.exames.upload');
                Slc.upload(uri, this.excelFile).then((response) => {
                    console.log("Uploaded Excel", response);
                    this.$emit('uploaded');
                    this.load = false;
                });
            }
        }
    }
</script>
<style scoped>

</style>