<template>
    <div>
      <box-anamnese title="Exames" icon="fa fa-flask">
          <box-body-anamnese>
              <div class="row">
                  <div class="col-lg-6">
                      <form>
                          <input type="hidden" name="exames" v-model="exameJson"/>

                          <table class="table table-striped">
                              <thead>
                                  <tr v-for="exame in examesArray">
                                      <th scope="col">{{exame.nome}}</th>
                                  </tr>
                              </thead>
                              <tbody>
                                  <tr v-for="caracteristica in arrayCaracteristica">
                                      {{caracteristica.nome}}
                                  </tr>
                              </tbody>
                          </table>
                          <input-text name="resultado"
                                      v-model="exame.resultado"
                          >
                          </input-text>

                          <br>

                          <div>
                              <button class="btn btn-success">Salvar</button>
                          </div>
                      </form>
                  </div>
              </div>
          </box-body-anamnese>
          <box-footer-anamnese>
              Footer
          </box-footer-anamnese>
      </box-anamnese>
    </div>
</template>
<script>
    import BoxAnamnese from "../../shared/BoxAnamnese";
    import BoxBodyAnamnese from "../../shared/BoxBodyAnamnese";
    import BoxFooterAnamnese from "../../shared/BoxFooterAnamnese";
    import FormSubmit from "../../../../../shared/Forms/FormSubmit";
    import FormGroup from "../../../../../shared/Forms/FormGroup";
    export default {
        components: {
            FormGroup,
            FormSubmit,
            BoxFooterAnamnese,
            BoxBodyAnamnese,
            BoxAnamnese
        },
        props: {
            historicoId:{
                required:true
            }
        },
        computed: {},
        data() {
            return {
                exame:{},
                caracteristica:{},
                resultado:'',
                exameJson:'',
                examesArray:[],
                arrayCaracteristica:[]
            }
        },
        created() {},
        mounted() {
            this.getCaracteristica();
            this.buildForm(this.resultado);
        },
        methods: {
            getExamesByCombo(){
                this.examesArray = this.combo.exames;
                this.exameJson   = JSON.stringify(this.examesArray);
            },
            getCaracteristica(){
                let uri = laroute.route('api.exame-caracteristica.index', {id:1});
                Slc.get(uri).then((response) => {
                    this.arrayCaracteristica = response;
                })
            },
            buildForm(resultado){
                return new SlcForm({
                    id                      : resultado ? resultado.id                      :null,
                    valor                   : resultado ? resultado.valor                   :null,
                    historico_id            : resultado ? resultado.historico_id            :null,
                    caracteristica_exame_id : resultado ? resultado.caracteristica_exame_id :null,
                })
            },
            cadastrarResultado(){
                if(this.form.id){
                    let uri = laroute.route('api.resultado.update', {id:this.form.id});
                    Slc.put(uri, this.form).then((response) => {
                        this.form = this.buildForm({});
                        this.getResultado(this.resultado.id);
                    })
                }else{
                    this.form.caracteristica_exame_id = this.resultado.id;
                    let uri = laroute.route('api.resultado.store', {request:this.form});
                    Slc.post(uri, this.form).then((response) => {
                        this.form = this.buildForm({});
                        this.arrayCaracteristica.push(response.data);
                    })
                }
            }
        }
    }
</script>
<style scoped>

</style>