<template>
    <div>
        <single-select
                v-model="internalValue"
                :value="value"
                label="nome"
                api="combos-exames"
                placeholder="Selecione um Combo"
        >
        </single-select>
    </div>
</template>

<script>
    import SingleSelect from '../shared/Input/SingleSelect';
    export default {
        mixins: [require('../shared/Mixins/Model')],
        components: {
            SingleSelect
        },
        computed: {
        mounted() {},
        }
    }
</script>