<template>
    <div class="container">
        <div class="row">
             <box-anamnese title="Acompanhamento" icon="fa fa-line-chart">
                 <box-body-anamnese>
                     <div class="col-lg-9 grafics">
                        <peso-chart :data="dados.peso"
                                    :label="dados.label"
                                    :options="null"
                                    :historicoId="historicoId"
                        >
                        </peso-chart>
                     </div>
                     <div class="col-lg-3 form">
                         <acompanhamento-form :historicoId="historicoId"
                         >
                         </acompanhamento-form>
                     </div>
                 </box-body-anamnese>

                 <box-footer-anamnese>
                     footer
                 </box-footer-anamnese>
             </box-anamnese>
        </div>
    </div>
</template>
<script>
    import BoxAnamnese from "../../shared/BoxAnamnese";
    import BoxBodyAnamnese from "../../shared/BoxBodyAnamnese";
    import BoxFooterAnamnese from "../../shared/BoxFooterAnamnese";
    import PesoChart from "./chars/peso-char";
    import AcompanhamentoForm from "./acompanhamento-Form/acompanhamento-form";
    export default {
        name: 'acompanhamento',
        components: {
            AcompanhamentoForm,
            PesoChart,
            BoxFooterAnamnese,
            BoxBodyAnamnese,
            BoxAnamnese
        },
        props: {
            historicoId: {required:true},
        },
        computed: {},
        data() {
            return {
                dados:[],
                label:[],
                acompanhamentos:'',
                api: 'acompanhamento',
                anotacaoAcompanhamento:'',
                acompanhamento:{},
            }
        },
        created() {},
        mounted() {
            this.getAcompanhamento();
        },
        methods: {
            getAcompanhamento(){
                let uri = laroute.route('api.acompanhamento.index',{id:this.historicoId});
                Slc.get(uri).then((response) => {
                    this.acompanhamentos = response;
                    this.dados = response.data;
                })
            }
        }
    }
</script>
<style scoped>
    .box-body-anaminese{
        height: 24vh;
    }
    .grafics{

    }
    .form{
        margin-left:-250px;
    }
</style>