
<template>
    <div>
        <box-anamnese title="Anotações" icon="fa fa-comments-o">
            <box-body-anamnese class="tela">
                <item-historico v-for="anotacao in anotacoes"
                                :key="anotacao.id"
                                :anotacao="anotacao"
                                @edit="editHistorico"
                                @delete="deleteHistorico"
                >
                </item-historico>
            </box-body-anamnese>
            <box-footer-anamnese>
                <form-submit v-model="form"
                             @submit.native="cadastrarHistorico()"
                >
                    <form-group :form="form"
                                field="anotacao"
                    >
                        <div class="col-lg-11">
                            <input-text v-model="form.anotacao"
                                        id="anotacao"
                                        name="historico"
                                        placeholder="Digite aqui a anotação"
                            >
                            </input-text>
                        </div>
                    </form-group>
                    <div class="input-group-btn col-lg-1">
                        <button class="btn btn-success">
                            <i class="fa fa-plus"></i>
                        </button>
                    </div>
                </form-submit>
            </box-footer-anamnese>
        </box-anamnese>
    </div>
</template>
<script>
    import ItemHistorico from "./item-historico/item";
    import BoxAnamnese from "../../shared/BoxAnamnese";
    import BoxBodyAnamnese from "../../shared/BoxBodyAnamnese";
    import ModalForm  from "../../../../../shared/Mixins/ModalForm";
    import BoxFooterAnamnese from "../../shared/BoxFooterAnamnese";
    import FormSubmit from "../../../../../shared/Forms/FormSubmit";
    import FormGroup from "../../../../../shared/Forms/FormGroup";
    export default {
        name: 'historico',
        mixins: [ModalForm],
        components: {
            FormGroup,
            FormSubmit,
            BoxBodyAnamnese,
            BoxFooterAnamnese,
            BoxAnamnese,
            ItemHistorico
        },
        props: {
            historicoId: {
                required:true
            }
        },
        computed: {
        },
        data() {
          return {
              anotacoes:'',
              api:'historico-anotacao',
              anotacaoHistorico:'',
              historico: {},
          }
        },
        created() {},
        mounted(){
            this.getAnotacao();
            this.buildForm(this.historico);
        },
        methods: {
            mouseOver () {
              console.log('Passou');
            },
            getAnotacao(){
                let uri = laroute.route('api.historico-anotacao.index',{id:this.historicoId});
                Slc.get(uri).then((response) => {
                    this.anotacoes = response;
                });
            },
            buildForm(historico) {
                return new SlcForm ({
                    id              : historico ? historico.id              :null,
                    historico_id    : historico ? historico.historico_id    :this.historicoId,
                    data_anotacao   : historico ? historico.data_anotacao   :null,
                    anotacao        : historico ? historico.anotacao        :null,
                });
            },
            cadastrarHistorico(){
                if(this.form.id){
                    //Edição - Caso exista id cadastrado
                    let uri = laroute.route('api.historico-anotacao.update', {id:this.form.id});
                    Slc.put(uri, this.form).then((response) => {
                        this.form = this.buildForm({});
                        this.getAnotacao();
                    })
                } else {
                    //Novo cadastro - Caso não exista id cadastrado
                    this.form.data_hora = moment(this.form.data_hora,'YYYY-MM-DD HH:ss').format('YYYY-MM-DD HH:ss');
                    let uri = laroute.route('api.historico-anotacao.store',{request:this.form});
                    Slc.post(uri, this.form).then((response) => {
                        this.form = this.buildForm({});
                        this.getAnotacao();
                    });
                }
            },
            editHistorico(anotacao){
                this.form = this.buildForm(anotacao);
            },
            deleteHistorico(anotacao){
                let uri = laroute.route('api.historico-anotacao.delete',{id:anotacao.id});
                Slc.get(uri).then((response)=> {
                    this.getAnotacao();
                });
            }
        }
    }
</script>
<style scoped>
    .scroll {
      overflow: auto;
    }
    .box-shadow-title {
       -webkit-box-shadow: 0px 6px 14px -3px rgba(0,0,0,0.5);
       -moz-box-shadow: 0px 6px 14px -3px rgba(0,0,0,0.5);
       box-shadow: 0px 6px 14px -3px rgba(0,0,0,0.5);
    }
    .box-shadow-footer {
        -webkit-box-shadow: 2px -4px 14px -2px rgba(0,0,0,0.5);
        -moz-box-shadow: 2px -4px 14px -2px rgba(0,0,0,0.5);
        box-shadow: 2px -4px 14px -2px rgba(0,0,0,0.5);
    }
</style>