<template>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-7">
                <div class="box box-default">
                    <div class="box-header with-border">
                        <div class="box-title">
                            <strong class="">
                                <i class="fa fa-book"></i>
                                <small>Lista dos Pacientes</small>
                            </strong>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <list-pacientes
                                        ref="lista"
                                >
                                </list-pacientes>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <!--<pacientes-form-->
                        <!--@carregarLista="cash"-->
                <!--&gt;-->

                <!--</pacientes-form>-->
                <import-pacientes-csv></import-pacientes-csv>
            </div>
        </div>
    </div>
</template>
<script>
    import ListPacientes from "./list-pacientes/list-pacientes";
    import ImportPacientesCsv from "./form-import/import-pacientes-csv";
    export default {
        components: {
            ImportPacientesCsv,
            ListPacientes,
        },

        props: {

        },
        computed: {},
        data() {
            return {

            }
        },
        created() {
        },
        mounted () {

        },
        watch: {

        },
        methods: {
            cash (form){
                this.$refs.lista.reload(form);
            }
        }
    }
</script>
<style scoped>

</style>