<template>
    <div class="col-lg-12">
        <div>
            <date-picker
                    @change="mudou()"
                    color="#3c8dbc"
                    v-if="show"
                    v-model="dateSearch"
                    @close="show = false"
            ></date-picker>
        </div>
        <div class="box box-default">
            <div class="box-header with-border">
                <div class="box-title">
                    <strong class="">
                        <i class="fa fa-calendar"></i>
                        <small>{{currentDate}}</small>
                    </strong>
                </div>
                <div @click="showCalendar" class="box-tools">
                    <button class="btn btn-sm btn-default">
                        <i class="fa fa-calendar"></i> &nbsp;
                        <small>Buscar Consultas</small>
                    </button>
                </div>
            </div>
            <div class="box-body">
                <br>
                <div class="row">
                    <div class="col-lg-12">
                      <list-consulta
                        :consultas="consultas"
                      >
                      </list-consulta>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import DatePicker from '../../../../../node_modules/vue-md-date-picker';
    import ListConsulta from './doctor-list-consultas/list-consultas';
    export default {
        components: {
          DatePicker,
          ListConsulta
        },
        props: {
        },
        data() {
          return {
            consultas  : '',
            dateSearch : '',
            show       : false
          }
        },
        created() {
        },
        mounted () {
          EventBus.$on('statusChanged', (e) => {
            this.buscar();
          });
          EventBus.$on('consultaCreated', (e) => {
              this.buscar();
          });
          this.formatDate(new Date);
          this.reload();
        },
        watch: {
          dateSearch: function () {
              this.buscar();
          }
        },
        computed: {
          currentDate: function () {
           return moment(this.dateSearch).format('DD/MM/YYYY');
          }
        },
        methods: {
            reload() {
              this.dateSearch = moment(new Date, 'YYYY-MM-DD').format('YYYY-MM-DD');
              let uri = laroute.route('api.consulta.by.doutor',{id: Slc.user.id, data: this.dateSearch});
              Slc.get(uri)
                  .then((response) => {
                      this.consultas = response;
                  });
            },
            buscar () {
              let uri = laroute.route('api.consulta.by.doutor',{id: Slc.user.id, data: this.dateSearch});
              Slc.get(uri)
                  .then((response) => {
                      this.consultas = response;
                  });
            },
            showCalendar () {
                this.show = true;
            },
            formatDate (date) {
                this.dateSearch = moment(date).format('YYYY-MM-DD');
            }
        }
    }
</script>
<style scoped>

</style>