<template>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="item">
                    <i class="fa fa-user-md"></i>                    &nbsp;
                    {{nome}}
                    &nbsp;
                    <small class="text-muted">
                        <i class="fa fa-clock-o"></i>
                        {{anotacao.data_anotacao}}
                    </small>
                    <br>
                    <p class="message">
                       {{anotacao.anotacao}}
                    </p>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="pull-right">
                    <span class="btn btn-defaul"
                          @click="deleteAnotacao(anotacao)">
                       <i class="fa fa-trash"></i>
                    </span>
                    <span class="btn btn-defaul"
                          @click="editAnotacao(anotacao)">
                       <i class="fa fa-pencil"></i>
                    </span>
              </div>
            </div>
        </div>
        <hr style="margin-top: 5px;margin-bottom: 5px;">
    </div>
</template>
<script>
    export default {
        name: 'item-historico',
        components: {},
        props: {
          anotacao: {
              required:true
          },
        },
        computed: {
            nome: function () {
              return window.Slc.user.name;
            },
            data: function () {

            }
        },
        data() {
            return {}
        },
        created() {

        },
        mounted(){

        },
        methods: {
            deleteAnotacao(anotacao){
                this.$emit('delete',anotacao);
            },
            editAnotacao(anotacao){
                this.$emit('edit',anotacao);
            },
        }
    }
</script>
<style scoped>

</style>