<template>
    <div>
        <data-viewer
                ref="dataViewer"
                v-bind="$data"
                :btn-share="true"
                @share="share"
                :btn-edit="true"
                @edit="edit"
                :btn-destroy="true"
                @destroy="destroy"
        >
        </data-viewer>
    </div>
</template>
<script>
    import DataViewer from '../../shared/DataViewer';
    import * as Slc from "../../../vue/http";
    export default {
        components: {
            DataViewer
        },
        data: () => ({
            title: 'Lista Exames',
            source: laroute.route('api.exames.search'),
            defaultColumn: 'cod',
            billboardId: null
        }),
        methods: {
            share(exame) {
               this.$emit('pushExames',{exame:exame});
            },
            destroy(billboard) {
                console.log("destroy", billboard);
                billboard.destroyForm = new SlcForm({});
                Slc.delete(laroute.route('api.billboard-face.destroy', {billboard_face: billboard.id}), billboard.destroyForm)
                    .then(() => {
                        this.$refs.dataViewer.fetchIndexData();
                    });
            },
            edit(billboard) {
                console.log("edit", billboard);
                this.billboardId = billboard.billboard_id;
                this.$nextTick(() => {
                    this.$refs.billboardFaceForm.show(billboard);
                });
            },
            billboardFaceUpdated(face) {
                console.log("billboardFaceUpdated", face);
                this.$refs.dataViewer.fetchIndexData();
            },
        }
    }
</script>