<template>
    <div>
        <br>
        <div class="box">
            <div class="box-header ui-sortable-handle bg-primary box-shadow-title"
                 style="cursor: move; color: white">
                <i :class="icon"></i>
                <h3 class="box-title">{{title}}</h3>
                <div class="box-tools pull-right" data-toggle="tooltip"
                     title="" data-original-title="Status"
                ></div>
            </div>
            <slot></slot>
        </div>
    </div>
</template>
<script>
    export default {
        name: 'box-anamnese',
        components: {},
        props: {
            title: {required:true},
            icon : {required:true}
        },
        computed: {
        },
        data() {
            return {}
        },
        created() {

        },
        methods: {
        }
    }
</script>
<style scoped>
    .scroll {
        overflow: auto;
    }
    .box-shadow-title {
        -webkit-box-shadow: 0px 6px 14px -3px rgba(0,0,0,0.5);
        -moz-box-shadow: 0px 6px 14px -3px rgba(0,0,0,0.5);
        box-shadow: 0px 6px 14px -3px rgba(0,0,0,0.5);
    }
    .box-shadow-footer {
        -webkit-box-shadow: 2px -4px 14px -2px rgba(0,0,0,0.5);
        -moz-box-shadow: 2px -4px 14px -2px rgba(0,0,0,0.5);
        box-shadow: 2px -4px 14px -2px rgba(0,0,0,0.5);
    }
</style>