<template>
    <div>
     <div class="box-body scroll" style="height: 40vh">
         <slot></slot>
     </div>
    </div>
</template>
<script>
    export default {
        name: 'box-body-anamnese',
        components: {},
        props: {
        },
        computed: {
        },
        data() {
            return {}
        },
        created() {

        },
        methods: {
        }
    }
</script>
<style scoped>
    .scroll {
        overflow: auto;
    }
    .box-shadow-title {
        -webkit-box-shadow: 0px 6px 14px -3px rgba(0,0,0,0.5);
        -moz-box-shadow: 0px 6px 14px -3px rgba(0,0,0,0.5);
        box-shadow: 0px 6px 14px -3px rgba(0,0,0,0.5);
    }
    .box-shadow-footer {
        -webkit-box-shadow: 2px -4px 14px -2px rgba(0,0,0,0.5);
        -moz-box-shadow: 2px -4px 14px -2px rgba(0,0,0,0.5);
        box-shadow: 2px -4px 14px -2px rgba(0,0,0,0.5);
    }
</style>