<template>
    <div>
        <div class="box text-center">
            <!-- /.box-header -->
            <div class="box-header text-left with-border box_title">
                <div class="box-title">
                    <i class="fa fa-calendar"></i>                    &nbsp;
                    <small class="">
                        <strong>Consultas</strong>
                    </small>
                </div>
            </div>
            <!-- /.box-header -->
            <!-- /.box-body -->
            <div class="box-body">
               <keep-alive>
                   <calendar-consulta></calendar-consulta>
               </keep-alive>
            </div>
            <!-- /.box-body -->
        </div>
    </div>
</template>
<script>
    import CalendarConsulta from './calendar-consulta';
    export default {
        components: {CalendarConsulta},
        props: {
        },
        computed: {},
        data() {
            return {
                datePicker: 2
            }
        },
        created() {
        },
        mounted () {
        },
        methods: {
        }
    }
</script>
<style scoped>

</style>