<template>
    <div>
        <data-viewer
                ref="dataViewer"
                v-bind="$data"
                :btn-edit="true"
                @edit="edit"
                :btn-destroy="true"
                @destroy="destroy"
        >
        </data-viewer>
    </div>
</template>
<script>
    import DataViewer from '../../shared/DataViewer';
    import * as Slc from "../../../vue/http";
    export default {
        components: {
            DataViewer
        },
        data: () => ({
            title: 'Lista Convênios',
            source: laroute.route('api.convenios.search'),
            defaultColumn: 'nome',
            billboardId: null
        }),
        methods: {
            share(billboard) {
                const win = window.open(billboard.public_url, '_blank');
                win.focus();
            },
            destroy(billboard) {
                billboard.destroyForm = new SlcForm({});
                Slc.delete(laroute.route('api.billboard-face.destroy', {billboard_face: billboard.id}), billboard.destroyForm)
                    .then(() => {
                        this.$refs.dataViewer.fetchIndexData();
                    });
            },
            edit(billboard) {
                this.billboardId = billboard.billboard_id;
                this.$nextTick(() => {
                    this.$refs.billboardFaceForm.show(billboard);
                });
            },
            convenioUpdated(convenio) {
                this.$refs.dataViewer.fetchIndexData();
            },
        }
    }
</script>