<template>
    <div>
        <div class="col-lg-8">
            <div>
                <date-picker
                        @change="mudou()"
                        color="#3c8dbc"
                        v-if="show"
                        v-model="dateSearch"
                        @close="show = false"
                ></date-picker>
            </div>
            <div class="box box-default">
                <div class="box-header with-border">
                    <div class="box-title">
                        <strong class="">
                            <i class="fa fa-calendar"></i>
                            <small>{{currentDate}}</small>
                        </strong>
                    </div>
                    <div @click="showCalendar" class="box-tools">
                        <button class="btn btn-sm btn-default">
                            <i class="fa fa-calendar"></i> &nbsp;
                            <small>Buscar Consultas</small>
                        </button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <select
                                    @change="searchConsultas()"
                                    ref="doutor"
                                    id="doutor"
                                    class="form-control"
                            >
                                <option v-for="doutor in doutores"
                                        :value="doutor.id"
                                >
                                    {{doutor.name}}
                                </option>
                            </select>
                        </div>
                        <div class="col-lg-6">
                            <button @click="agendar" class="btn btn-success pull-right">
                                AGENDAR
                            </button>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-lg-12">
                            <tabela-consulta
                                    @changeStatus="atualizarLista"
                                    :consultas="consultas"
                            >
                            </tabela-consulta>
                        </div>
                    </div>
                </div>
            </div>
            <consulta-form
                    @agendou="depoisDoAgendamento"
                    :doutores="doutores"
                    ref="form"
            >
            </consulta-form>
        </div>
        <div class="col-lg-4">
        </div>
    </div>
</template>
<script>
    import TabelaConsulta from './table-consulta/table-consulta.vue';
    import DatePicker from '../../../../../node_modules/vue-md-date-picker';
    import CalendarioConsulta from './calendario-consulta/calendario-consulta';
    import ConsultaForm from './consulta-form/consulta-form';
    export default {
        components: {
            TabelaConsulta,
            DatePicker,
            CalendarioConsulta,
            ConsultaForm
        },
        props: {

        },
        data() {
            return {
                doutores   : '',
                doutorID   : 0,
                consultas  : '',
                date       : '',
                dateSearch : '',
                show       : false
            }
        },
        created() {
        },
        mounted () {
            this.formatDate(new Date);
            this.reload();
        },
        computed: {
         currentDate: function () {
           return moment(this.dateSearch).format('DD/MM/YYYY');
         }
        },
        watch: {
            dateSearch: function () {
                this.buscar();
            }
        },
        methods: {
            reload() {
              Slc.get(laroute.route('api.consulta.index'))
                  .then((response) => {
                    this.doutores = response[0].users;
                    this.doutorID = this.doutores[0].id;
                    this.buscar();
                  });
            },
            buscar () {
                let uri = laroute.route('api.consulta.by.doutor',{id: this.doutorID, data: this.dateSearch});
                Slc.get(uri)
                 .then((response) => {
                   this.consultas = response;
                });
            },
            depoisDoAgendamento (event) {
              this.buscar();
              $(this.$el).modal('hide');
            },
            searchConsultas () {
              this.doutorID  = this.$refs.doutor.value;
              this.buscar();
            },
            showCalendar () {
              this.show = true;
            },
            atualizarLista (event) {

            },
            formatDate ($date) {
              this.date       = moment($date).format('DD/MM/YYYY');
              this.dateSearch = moment($date).format('YYYY-MM-DD');
            },
            agendar () {
              this.$refs.form.show();
            }
        }
    }
</script>
<style scoped>

</style>